:root{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body::before{
    content: '';
    position: fixed; inset: 0;
    background: radial-gradient(circle at left top, rgba(29, 78, 216, 0.15), transparent 80%);
    pointer-events: none;
}

body{
    background-color: #0f172a;
    padding: 4.8rem 0 5rem;
    color: #94A3B8; font-family: 'Inter', 'Pretendard', sans-serif;
}

.cursor-circle{
    display: none;
}

h1,h2,h3{
    color: #E2E8F0;
    text-transform: uppercase;
}

h2{
    position: sticky; top: 0;
    margin-bottom: 3.6rem;
    font-size: 1.4rem; line-height: 1.42; letter-spacing: 0.14rem;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    padding: 2.4rem;
}

p strong{
    color: #E2E8F0; font-weight: 500;
}

.profile,
.about__txt,
.exp__list,
.projects__list,
.writing__list{
    padding: 0 2.4rem;
}

.profile{
    margin-bottom: 9.6rem;
}

.profile__name{
    margin-bottom: 1.2rem;
    font-size: 3.6rem; font-weight: 700; line-height: 1.11; letter-spacing: -0.09rem;
}

.profile__job{
    margin-bottom: 1.6rem;
    font-size: 1.8rem; line-height: 1.55; letter-spacing: -0.045rem; font-weight: 500;
}

.profile__txt{
    display: flex; flex-direction: column; row-gap: 1.2rem;
    margin-bottom: 3.2rem;
    line-height: 1.5; font-size: 1.6rem;
}

.profile__social{
    display: flex; column-gap: 2rem;
}

nav{
    display: none;
}

.about{
    margin-bottom: 8.4rem;
}

.about__txt{
    display: flex; flex-direction: column; row-gap: 1.2rem;
    line-height: 1.62; font-size: 1.6rem;
}

.about__txt:not(:last-child){
    margin-bottom: 1.6rem;
}

.hash{
    display: flex; flex-wrap: wrap; gap: 0.6rem;
    font-size: 0;
}

.hash li{
    list-style: none;
    padding: 0.4rem 1.2rem;
    background-color: rgba(45, 212, 191, 0.10);
    font-size: 1.2rem; line-height: 1.66; color: #5EEAD4; font-weight: 500;
    border-radius: 999.9rem;
    text-align: center; text-transform: uppercase;
}

.exp{
    margin-bottom: 6.4rem;
}

.exp__period{
    display: block;
    margin-bottom: 0.8rem;
    color: #64748B; font-weight: 600; line-height: 1.33; font-size: 1.2rem; letter-spacing: 0.03rem;
}

.exp__list{
    display: flex; flex-direction: column; row-gap: 4.8rem;
}

.exp__list li{
    display: block;
}

.exp__name{
    margin-bottom: 1rem;
    font-weight: 500; font-size: 1.6rem;
}

.exp__rank{
    margin-bottom: 0.8rem;
    font-size: 1.6rem; font-weight: 500;
}

.exp__txt{
    display: flex; flex-direction: column; row-gap: 0.5rem;
    margin-bottom: 1.6rem;
    font-size: 1.4rem; line-height: 1.5;
}

.projects{
    margin-bottom: 6.4rem;
}

.projects__list{
    display: flex; flex-direction: column; row-gap: 4.8rem;
    list-style: none;
}

.projects__name{
    margin-bottom: 1.1rem;
    font-weight: 500; line-height: 1.25; font-size: 1.6rem;
}

.projects__name a{
    color: inherit;
}

.projects__name a svg{
    vertical-align: bottom;
}

.projects__git{
    display: block;
    margin-bottom: 1.1rem;
}

.projects__git img{
    width: 2rem;
}

.projects__txt{
    display: flex; flex-direction: column; row-gap: 1.2rem;
    margin-bottom: 2.3rem;
    font-size: 1.4rem; line-height: 1.5;
}

.projects .hash{
    margin-bottom: 1.6rem;
}

.projects__thumb{
    width: 20rem;
    border-radius: 0.4rem;
}

.writing{
    margin-bottom: 6.4rem;
}

.writing__list{
    display: flex; flex-direction: column; row-gap: 5.66rem;
    list-style: none;
}

.writing__list a{
    display: flex;
    color: inherit;
}

.writing__thumb{
    align-self: flex-start;
    margin-right: 1.65rem;
    border-radius: 0.4rem;
    width: 7.4rem; height: 5rem;
    object-fit: cover;
}

.writing__years{
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.71;
}

.writing__name{
    color: #E2E8F0;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.25;
}

.writing__desc svg{
    vertical-align: bottom;
}

footer{
    padding: 0 2.4rem 5rem;

}

footer p{
    color: #64748B;
    font-size: 1.4rem;
    line-height: 1.42;
}

footer strong{
    font-weight: 500;
}

footer strong a{
    color: inherit;
}

@media screen and (min-width:768px) {
    h2{
        padding: 2rem 4.8rem;
    }

    .profile,
    .about__txt,
    .exp__list,
    .projects__list,
    .writing__list{
        padding: 0 4.8rem;
    }

    .profile__name{
        font-size: 4.8rem;
    }

    .profile__job{
        font-size: 2rem;
    }

    .exp__list li{
        display: flex;
    }

    .exp__period{
        white-space: nowrap;
        margin-right: 6.6rem;
    }

    .projects__list li{
        display: flex; flex-direction: row-reverse;
    }

    .projects__img-link{
        align-self: flex-start;
    }

    .projects__thumb{
        width: 25rem; margin-right: 1.6rem;
    }

    .writing__list a{
        align-items: center;
    }

    .writing__thumb{
        width: 15.6rem; height: 10.55rem;
    }

    footer{
        padding: 0 4.8rem;
    }
}

@media screen and (min-width:1300px) {
    .cursor-circle{
        display: block;
        position: fixed;
        inset: 0;
        pointer-events: none;
    }

    body{
        display: flex; padding: 0 9.6rem 9.6rem; flex-wrap: wrap;
    }

    h2{
        display: none;
    }

    header,main{
        flex: 1;
        padding-top: 9.6rem;
    }

    header{
        position: sticky; top: 0;
        align-self: flex-start;
    }

    .profile__txt{
        margin-bottom: 6.4rem;
    }

    nav{
        display: flex; flex-direction: column;
    }

    nav a{
        display: flex; column-gap: 1.6rem; align-items: center;
        padding: 1.2rem 0.68rem 1.2rem 0;
        line-height: 1.33; letter-spacing: 0.12rem; font-weight: 700; font-size: 1.2rem; text-transform: uppercase; color: #64748B;
        transition-duration: .3s;
    }

    nav a::before{
        content: '';
        background-color: #475569;
        width: 3.2rem; height: 0.1px;
        transition: inherit;
    }

    nav a.on{
        color: #E2E8F0;
    }

    nav a.on::before{
        width: 6.4rem;
        background-color: #E2E8F0;
    }

    .about, .exp, .projects{
        margin-bottom: 14.3rem;
    }

    .projects__thumb{
        width: 12rem;
        border: 2px solid rgba(226, 232, 240, 0.10);
    }

    .exp__list:hover > li,
    .projects__list:hover > li,
    .writing__list:hover > li{
        opacity: 0.5;
    }

    .exp__list > li,
    .projects__list > li,
    .writing__list > li{
        padding: 2rem;
        border-radius: 0.6rem;
        transition-duration: 0.3s;
    }

    .projects__list li:hover .projects__thumb,
    .writing__list li:hover .writing__thumb{
        border: 2px solid rgba(226, 232, 240, 0.3);
    }

    .exp__list > li:hover,
    .projects__list > li:hover,
    .writing__list > li:hover{
        background-color: rgba(30,41,59,.5);
        box-shadow: 0 0 #0000,
        0 0 #0000,
        inset 1px 1px 0 0 rgba(148,163,184,.1);
        opacity: 1;
    }
    .projects__name, .projects__name svg,
    .writing__name, .writing__name svg{
        transition-duration: 0.2s;
    }

    .projects__list > li:hover .projects__name,
    .writing__list > li:hover .writing__name{
        color: #5eead4;
    }

    .projects__list > li:hover .projects__name svg,
    .writing__list > li:hover .writing__name svg{
        transform: translate(3px, -3px);
    }

    .projects__list > li:hover .projects__name svg path,
    .writing__list > li:hover .writing__name svg path{
        fill: #5eead4;
    }

    .writing__thumb{
        width: 12rem; height: 7.605rem;
        border: 2px solid rgba(226, 232, 240, 0.10);
    }

    .writing__list li:hover .writing__thumb{
        border: 2px solid rgba(226, 232, 240, 0.3);
    }
    
    footer{
        width: 100%;
    }
}